<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exambyte</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/styleIndex.css">
    
</head>
<body>
    <div class="w3-padding w3-xxlarge w3-light-blue dis">
        <form method="get" action="/">
            <div>
                <button class="user-btn">
                    <i class="fa fa-home"></i>
                </button>
            </form>
            </div>
        <div class="te1">
            <h1>Wilkommen bei Exambyte!</h1>
        </div>
        <div class="">
            <form method="get" action="/home">
                <button class="user-btn">
                    <i class="fa fa-user"></i>
                </button>
            </form>
        </div>
      </div>

    <div class="w3-border-grey w3-border w3-round-xlarge te">
        <p>Finde die Person, um dich einzuloggen!</p>
    </div>

    <div class="image-container">
        <a href="/home"><img class="hidden-image w3-circle" 
            src="https://steamuserimages-a.akamaihd.net/ugc/1676988590204792260/EA31EB30D4B962E9732DE2F0DC556D8267920315/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" 
            alt="Black man laughing"></a>
    </div>
</body>
</html>